<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="example"></div>
            <hr />
            <div id="example2"></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/collections.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Environment.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.ViewModel.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Form.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/Template/SharpCrudTemplate.js"></script>
    <script>

    </script>
}