<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="example"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var url = window.location.pathname.split("/");
        window.formSelector = "#example";
        window.instanceName = url[1] || "Home";
        window.action = "Update";
        window.schema = null;

        var loadGrid = function() {
            $.getJSON("/" + instanceName + "/Get").done(function (data) {
                var table = $.makeTable(data);
                $("#example").html(table);
            });


            $.makeTable = function (mydata) {
                var table = $('<table class="table table-striped">');
                var tblHeader = "<tr>";
                for (var k in mydata[0]) tblHeader += "<th>" + k + "</th>";
                tblHeader += "</tr>";
                $(tblHeader).appendTo(table);
                $.each(mydata, function (index, value) {

                    var TableRow = "<tr>";
                    $.each(value, function (key, val) {
                        if (key == "SharpId") {
                            TableRow += "<td><a href=\"/"+ instanceName +"/Detail/?sharpId="+ val +"\" class=\"btn btn-sm btn-info\">Edit</a></td>";
                        } else {
                            TableRow += "<td>" + val + "</td>";
                        }

                    });
                    TableRow += "</tr>";
                    $(table).append(TableRow);
                });
                return ($(table));
            };
        }

        
        $(document).ready(function() {
            loadGrid();
        });
    </script>
}