<div id="example" class="row">
    <nav id="search" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <div id="searchPanel" class="searchPanel"></div>
    </nav>
    <div class="col-sm-12">
        <div class="gridPanel"></div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/collections.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.PageArgs.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.ViewModel.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Form.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Scaffold.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/Template/SharpCrudTemplate.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.js"></script>


    <script>
    </script>
}