<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="example"></div>
            <table id="example2"></table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/collections.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.PageArgs.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.ViewModel.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Form.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.Web.Scaffold.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/Template/SharpCrudTemplate.js"></script>
    <script type="text/javascript" src="/Sharpbox/Web/Scripts/sharpbox.js"></script>


    <script>

    </script>
}