
<form action="api/test" method="POST">
    <input type="text" name="Instance.Value" value="" class="form-control" />
    <input type="hidden" name="UiAction.Name" value="TestCommand" />
    <input type="submit" value="Run test command." class="form-control" />
</form>
<hr />
<form action="/api/test" method="POST">
    <input type="text" name="Instance.Value" value="" class="form-control" />
    <input type="hidden" name="UiAction.Name" value="SaveExampleModel" />
    <input type="submit" value="Save using unit of work." class="form-control" />
</form>


@section scripts {
    <script>
        $(document).ready(function () {
            $.getJSON("/api/test/4").done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $('<li>', { text: formatItem(item) }).appendTo($('#products'));
                });
            });
        });
    </script>
}
