@using sharpbox.Bootstrap.Models
@using sharpbox.Bootstrap.Package.Core;
@using sharpbox.Dispatch.Model

@model WebResponse<ExampleModel>

@{
    ViewBag.Title = "Home Page";
}

@Html.ValidationSummary()

@if (Model.DispatchResponse != null && Model.DispatchResponse.ResponseType == ResponseTypes.Error)
{
    <p class="text-danger">@Model.DispatchResponse.Message</p>
}

<form action="@Url.Action("Execute", "Home")" method="POST">
    <input type="hidden" name="WebRequest.Instance.Value" value="What.What" />
    <input type="hidden" name="WebRequest.UiAction.Name" value="TestCommand" />
    <input type="submit" value="Holla" />
</form>
