<h4>Alpaca Forms Test</h4>
<div id="field1"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            $.getJSON("/Test/JsonSchema").done(function (data) {
                // On success, 'data' contains a list of products.
                //$.each(data, function (key, item) {
                //console.log(item);
                //});
                var json = data.replace(/\r\n/g, '')
                                .replace(/\\/, '').replace(',  "$schema": "http://json-schema.org/draft-04/schema#"','');

                var formSelector = "#field1";

                $(formSelector).alpaca({
                    //"schemaSource": "./Test/JsonSchema"
                    "dataSource": "/Test/Get/",
                    "schema": JSON.parse(json)
                    /** add in this section to experiment with a form button */
                    ,"options": {
                        "form": {
                            "attributes": {
                                "action": "/Test/Execute",
                                "method": "post"
                            },
                            "buttons": {
                                "submit": {
                                    "title": "Submit",
                                    "click": function() {
                                        //alert("Form value is: " + JSON.stringify(this.getValue(), null, "  "));
                                        $(formSelector).find("form").append('<input type=\"hidden\" id=\"WebRequest_UiAction\" name=\"WebRequest.UiAction.Name\" value=\"Update\" />');
                                        $(formSelector).find("form").submit();
                                    }
                                }
                            }
                        },
                        "hideInitValidationError": true,
                    }
                    ,"postRender": function(control) {
                        console.log(control);
                        $(formSelector).find("input").each(function () {
                            var name = $(this).attr('name');
                            var bindingName = "WebRequest.Instance." + name;
                            var labelText = name.replace(/([a-z])([A-Z])/g, '$1 $2'); //Find a lowercase letter followed by an upper case and insert a break.

                            control.childrenByPropertyId[name].name = bindingName;
                            control.childrenByPropertyId[name].options.label = labelText;
                            control.childrenByPropertyId[name].refresh();

                        });
                    }
                });
            });
        });
    </script>
}
