<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="example"></div>
            <hr/>
            <div id="example2"></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="/Package/Web/Scripts/collections.js"></script>
    <script type="text/javascript" src="/Package/Web/Scripts/sharpbox.Web.ViewModel.js"></script>
    <script type="text/javascript" src="/Package/Web/Scripts/sharpbox.Web.Form.js"></script>
    <script type="text/javascript" src="/Package/Web/Scripts/sharpbox.js"></script>
    <script type="text/javascript" src="/Package/Web/Scripts/Template/environmentTemplate.js"></script>
    <script>
        //var url = window.location.pathname.split("/");
        //window.container = "#example2";
        //window.instanceName = url[1] || "Home";
        //window.action = "Update";
        //window.actionUrl = "/" + window.instanceName + "/" + window.action;
        //window.schema = null;
        //window.method = "POST";

        //var buildForm = function() {
        //    var properties = window.schema.properties;
        //    var html = "<form role=\"form\" action=\""+window.actionUrl+"\" method=\""+window.method+"\">";

        //    $.each(properties, function (key, field) {
        //        var input = "text";

        //        if (field.type == 'array') {
        //            console.log("Would create a daughter grid for the array of:" + key);
        //            $.each(field.items.properties, function(k1, f1) {
        //                console.log(k1);
        //            });
        //        } else if (field.type == 'object') {
        //            console.log("Would create an embedded form for the object:" + key);
        //        } else {
        //            html = html + createInput(key, field);           
        //            console.log(field);
        //        }
        //    });

        //    html = html + "<button type=\"submit\" class=\"btn btn-default\">Submit</button>";
        //    html = html + "</form>";

        //    $(window.container).html(html);

        //}

        //var createInput = function(key, field) {
        //    var html = "";
        //    var groupExtraClasses = "";
        //    var inputExtraClasses = "";
        //    var inputAppend = "";
        //    var inputType = "text";

        //    if (field.format == "date-time") {
        //        inputExtraClasses = "datepicker";
        //        inputAppend = "<span class=\"input-group-addon\"><i class=\"glyphicon glyphicon-calendar\"></i></span>";
        //    }

        //    html = html + "<div class=\"form-group" + groupExtraClasses + "\">";
        //        html = html + "<div class=\"col-md-4 text-right input-group\">";
        //        html = html + "<label for=\"" + key + "\">" + key.replace(/([a-z])([A-Z])/g, '$1 $2') + "</label>";
        //        html = html + "</div>";
        //        html = html + "<div class=\"col-md-8 input-group\">";
        //            html = html + "<input type=\"" + inputType + "\" class=\"form-control "+ inputExtraClasses +"\" id=\"" + key + "\" />";
        //            html = html + inputAppend;
        //        html = html + "</div>";
        //    html = html + "</div>";
        //    return html;
        //}

        //var mapObject = function(object) {
        //    $.each(object, function(key, val) {

        //    });
        //}

        //$(document).ready(function() {
        //    //alpacaTable(formSelector, instanceName, action);
        //    $.getJSON("/" + instanceName + "/JsonSchema", function(data) {
        //        window.schema = JSON.parse(data);
        //        buildForm();
        //    });
        //});
    </script>
}